// Card
//
// This is the card component. It's an example.
//
// Markup: card.twig
//
// Style guide: Components.Card

// Import site utilities.
@import '../../global/utils/init';

.card {
  border: 1px solid $color-silver;
  padding: 5rem 2rem 2rem;
  position: relative;
  background: $color-tundora;
  color: $color-alto;
}

.card__brand {
  text-align: center;
}

.card__eyebrow {
  position: absolute;
  left: 0;
  top: 0;
}

.card__more {
  margin-top: 1rem;
}

.card__more--link {
  text-decoration: none;

  &:hover {
    text-decoration: underline;
    color: $color-blue;
  }
}

.card__icon--item {
  fill: $color-silver;
}
