<svg aria-hidden="true" role="img" class="{{ classNames|default('icon icon--stack') }}" xmlns="http://www.w3.org/2000/svg" width="64" height="64" viewBox="0 0 64 64"><title>stack</title><path d="M64 20L32 4 0 20l32 16 32-16zM32 9.311L53.379 20 32 30.689 10.621 20 32 9.311zm25.59 19.484L64 32 32 48 0 32l6.41-3.205L32 41.59zm0 12L64 44 32 60 0 44l6.41-3.205L32 53.59z"/></svg>
