// Social Icons
//
// This is the social-icons component. It's an example.
//
// .social-icons--light - A light version of social icons.
//
// Markup: social-icons.twig
//
// Style guide: Components.Social Icons

// Import site utilities.
@import '../../global/utils/init';

.social-icons {
  display: flex;
}

.social-icons__item {
  margin: 0 1rem;

  &--first {
    margin-left: 0;
  }
}

.social-icon--img {
  width: 24px;
  height: 24px;
}

.social-icons--light {
  svg {
    fill: $color-alto;
  }
}
