<svg aria-hidden="true" role="img" class="{{ classNames|default('icon icon--display') }}" xmlns="http://www.w3.org/2000/svg" width="64" height="64" viewBox="0 0 64 64"><title>display</title><path d="M0 4v40h64V4H0zm60 36H4V8h56v32zm-18 8H22l-2 8-4 4h32l-4-4z"/></svg>
