// Featured Sponsors
//
// This is the featured-sponsors component.
//
// Markup: featured-sponsors.twig
//
// Style guide: Components.featured-sponsors

// Import site utilities.
@import '../../global/utils/init';

.featured-sponsors {
  background: $color-gallery;
  margin: 5rem 0 10rem;

  @include breakpoint($bp-sm) {
    display: flex;
  }
}

.featured-sponsors__wrapper {
  margin-bottom: 8rem;
}

.featured-sponsors__image {
  line-height: 0.8;
  overflow: hidden;
  flex: 0 0 400px;
  background: linear-gradient(#B5EBEB, #5DAC5D);

  img {
    width: 100%;
  }
}

.featured-sponsors__social-icons {
  background: $color-black;
  padding: 1rem 2.5rem;
  line-height: 1;
  justify-content: space-around;

  .social-icons__item {
    margin: 0;
    padding: 0;
  }
}

.featured-sponsors__left {
  position: relative;
}

.featured-sponsors__intro {
  position: absolute;
  margin: 0 2rem;
  padding: 2rem;
  top: 20%;
  box-shadow: 0 0 40px 5px rgba($color-black, 0.12);
  border: 1px solid $color-gallery;
  background: rgba($color-white, 0.6);

  @include breakpoint($bp-xxsm) {
    margin: 0 5rem;
    top: 15%;
  }

  @include breakpoint($bp-sm) {
    margin: 0 2rem;
  }
}

.featured-sponsors__right {
  flex: 0 0 calc(100% - 400px);
  padding: 2rem 3rem;

  .featured-sponsors__teaser & {
    flex: 0 0 100%;
  }
}

.featured-sponsors__items {

  @include breakpoint($bp-sm) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: row;
  }
}

.featured-sponsors__card {
  border-radius: 0 4px 4px;
  margin-bottom: 2rem;
  font-weight: 300;

  @include breakpoint($bp-sm) {
    flex: 0 0 48%;

    &:last-child {
      flex: 0 0 100%;
    }
  }

  @include breakpoint($bp-lg) {
    margin-top: 5rem;
    flex: 0 0 32%;

    &:last-child {
      flex: 0 0 32%;
    }
  }

  .featured-sponsors__teaser & {
    padding-top: 2rem;
  }
}

.featured-sponsors__become-one {
  text-align: center;
  margin-top: 4rem;
}
