// Import site utilities.
@import '../global/utils/init';

main[role='main'] {
  @include clearfix;
}

.layout-content,
.layout-sidebar-second {
  display: block;

  @include breakpoint($bp-md) {
    float: left;
  }
}

@include breakpoint($bp-md) {
  .layout-content {
    width: 65%;
  }

  .layout-sidebar-second {
    width: 30%;
    margin-left: 5%;
  }
}
